<article id="js-article" class="article" itemscope itemtype="http://schema.org/NewsArticle">
    <header id="js-article-header" class="article-header">
      <div id="js-article-intro" class="article-header__intro">
        <h1>Headline of the Article</h1>
      </div>
    	<img src="https://images.unsplash.com/photo-1445452916036-9022dfd33aa8?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1125&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1700" alt="https://unsplash.com/photos/HbhJyWnE9Oo" class="article-header__bg">
    </header>
  </article>
