<figure class="media">
	<img class="lazyload" src="https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1925" data-srcset="https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1925" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text">
	<figcaption>Caption text goes here to provide more context for the media | <a href="https://unsplash.com/photos/8BmNurlVR6M">Frances Gunn</a></figcaption>
</figure>

<figure class="media">
	<video id="vid1" class="video-js vjs-default-skin vjs-16-9" controls width="1280" height="720" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=W86EAWPR4hY"}] }'>
	</video>
	<figcaption>Cinematography Demo | <a href="https://www.youtube.com/watch?v=W86EAWPR4hY">YouTube</a></figcaption>
</figure>


<div class="media media__video-embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/W86EAWPR4hY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
