<figure class="media">
	<img class="lazyload" src="https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1925" data-srcset="https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1925" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Alt Text">
	<figcaption>Caption text goes here to provide more context for the media | <a href="#">Credit</a></figcaption>
</figure>

<figure class="media media__video-embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/W86EAWPR4hY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</figure>
