<table>
	<thead>
		<tr>
			<th>Table Heading 1</th>
			<th>Table Heading 2</th>
			<th>Table Heading 3</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Table Footer 1</th>
			<th>Table Footer 2</th>
			<th>Table Footer 3</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td data-th="Table Heading 1">Table Cell 1</td>
			<td data-th="Table Heading 2">Table Cell 2</td>
			<td data-th="Table Heading 3">Table Cell 3</td>
		</tr>
		<tr>
			<td data-th="Table Heading 1">Table Cell 1</td>
			<td data-th="Table Heading 2">Table Cell 2</td>
			<td data-th="Table Heading 3">Table Cell 3</td>
		</tr>
		<tr>
			<td data-th="Table Heading 1">Table Cell 1</td>
			<td data-th="Table Heading 2">Table Cell 2</td>
			<td data-th="Table Heading 3">Table Cell 3</td>
		</tr>
		<tr>
			<td data-th="Table Heading 1">Table Cell 1</td>
			<td data-th="Table Heading 2">Table Cell 2</td>
			<td data-th="Table Heading 3">Table Cell 3</td>
		</tr>
	</tbody>
</table>
