.hang {
  margin: 0 auto;
  margin-left: $gutter;
  margin-right: $gutter;
  max-width: ($column-width * 2) + ($gutter * 2);

  figure,
  aside {
    @media (min-width: $screen-xs-min) {
      width: ($column-width / 2) - $gutter;
    }
  }
}

.hang--left {
  @media (min-width: $screen-xs-min) {
    float: left;
    margin-left: 5%;
    margin-right: $gutter;
  }

  @media (min-width: 2000px) {
    margin-left: 15%;
  }
}

.hang--right {
  @media (min-width: $screen-xs-min) {
    float: right;
    margin-left: $gutter;
    margin-right: 5%;
  }

  @media (min-width: 2000px) {
    margin-right: 15%;
  }
}
