<div class="article__body">
  <div class="column--half column--inline set--right">
    <aside class="pullquote">
      <p>Set to the right of content.</p>
    </aside>
  </div>
  <p>Maecenas rhoncus magna non justo viverra cursus. Morbi sed placerat mauris. Sed vehicula arcu in nulla mollis iaculis. Curabitur venenatis eu felis ac lacinia. Curabitur laoreet, libero eu elementum sollicitudin, nulla leo laoreet nulla, vitae mollis augue sem non turpis. Integer mollis a lorem ut semper. Cras pharetra vel sapien eget congue. Quisque vitae laoreet sapien, vitae aliquam turpis. Donec id efficitur ipsum. Donec fringilla auctor massa sed sollicitudin.</p>
  <div class="column--1x set--center">
    <aside class="pullquote">
      <p>Set to the center of content</p>
    </aside>
  </div>
    <p>Nullam scelerisque vehicula mollis. Praesent malesuada in felis vel suscipit. Aliquam suscipit orci id hendrerit vulputate. Pellentesque in pretium urna, ac tempus ex. Praesent metus odio, sagittis consequat vehicula non, finibus vel tortor. Vestibulum ex metus, sollicitudin id sem imperdiet, facilisis suscipit diam. Donec orci sem, faucibus a magna in, porttitor blandit odio. Morbi nisl quam, sodales a lectus ac, interdum semper leo. Phasellus fermentum blandit nibh, tempor cursus odio. Etiam faucibus mauris quis ullamcorper iaculis. Mauris scelerisque laoreet sem.</p>
    <div class="column--half column--inline set--left">
      <aside class="pullquote">
        <p>Set to the left of content</p>
      </aside>
    </div>
    <p>tincidunt auctor eros libero at neque. Vivamus quis libero tempor, dictum quam id, tincidunt turpis. Etiam pretium et augue sit amet varius. Vivamus mattis, lorem non cursus tincidunt, purus ipsum pulvinar ex, quis faucibus tortor odio at enim. Maecenas faucibus tincidunt turpis, et semper lorem aliquam vitae. Etiam quis eleifend mi. Pellentesque sit amet quam pellentesque, commodo enim vel, euismod augue. Maecenas in augue est.</p>
</div>
