---
fabricator: true
---

<h1 data-f-toggle="labels">Base</h1>

<h1>Heading One</h1>
<h2>Heading Two</h2>
<h3>Heading Three</h3>
<h4>Heading Four</h4>
<h5>Heading Five</h5>
<h6>Heading Six</h6>
<p>Lorem ipsum dolor sit <a title="test link" href="#">link</a>, <strong>strong</strong> <em>emphasized</em> <del>deleted</del>. <small>Small</small> in <code>code</code> nisl. <cite>Cite</cite> 5<sup>3</sup> dictum H<sub>2</sub>O, ac consequat ante tristique non. <abbr title="Hypertext Markup Language">HTML</abbr> sit amet suscipit urna. Nunc ullamcorper ex sem, sed dapibus elit tempor et. <mark>mark</mark> <kbd>Keyboard Input Element</kbd> id nunc nec dictum. Suspendisse potenti. Maecenas id gravida massa. Etiam commodo egestas eros id ultrices.<p>

  <p>Nam sodales facilisis dolor et volutpat. Vestibulum vitae purus at turpis tincidunt lobortis. Maecenas commodo tortor eu purus blandit egestas. Integer nec diam non sem rutrum euismod. Fusce vel nulla in mauris placerat cursus. Mauris purus nisi, eleifend ut mauris in, porttitor iaculis neque. Cras aliquam dolor ut sem gravida pulvinar a auctor tortor.</p>
  <blockquote>
  <p>In vel condimentum augue. Sed tristique felis nec justo pharetra, vitae luctus nibh sagittis. Donec nunc sem, ultrices a pellentesque quis, sollicitudin euismod mi.</p>
  <cite>Author of Quote | <a href="#" target="_blank" rel="external">Link to source</a></cite>
</blockquote>
<dl>
<dt>Definition List Title</dt>
<dd>This is a definition list division.</dd>
<dt>Definition</dt>
<dd>An exact statement or description of the nature, scope, or meaning of something: <em>our definition of what constitutes poetry.</em></dd>
</dl>
<ol>
  <li>List Item 1</li>
  <li>List Item 2
    <ol>
      <li>Nested list item A</li>
      <li>Nested list item B</li>
    </ol>
  </li>
  <li>List Item 3</li>
</ol>
<ul>
  <li>List Item 1</li>
  <li>List Item 2
    <ul>
      <li>Nested list item A</li>
      <li>Nested list item B</li>
    </ul>
  </li>
  <li>List Item 3</li>
</ul>
<pre><code>#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
</code></pre>
  <table>
    <thead>
      <tr>
        <th>Table Heading 1</th>
        <th>Table Heading 2</th>
        <th>Table Heading 3</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Table Footer 1</th>
        <th>Table Footer 2</th>
        <th>Table Footer 3</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td data-th="Table Heading 1">Table Cell 1</td>
        <td data-th="Table Heading 2">Table Cell 2</td>
        <td data-th="Table Heading 3">Table Cell 3</td>
      </tr>
      <tr>
        <td data-th="Table Heading 1">Table Cell 1</td>
        <td data-th="Table Heading 2">Table Cell 2</td>
        <td data-th="Table Heading 3">Table Cell 3</td>
      </tr>
      <tr>
        <td data-th="Table Heading 1">Table Cell 1</td>
        <td data-th="Table Heading 2">Table Cell 2</td>
        <td data-th="Table Heading 3">Table Cell 3</td>
      </tr>
      <tr>
        <td data-th="Table Heading 1">Table Cell 1</td>
        <td data-th="Table Heading 2">Table Cell 2</td>
        <td data-th="Table Heading 3">Table Cell 3</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <textarea name="" id="" cols="30" rows="10"></textarea>
  <label for="textInput">Text input</label>
  <input type="text" id="textInput" />
  <select name="" id="">
    <option value="">Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
    <option value="">Option 5</option>
  </select>
  <label>
    <input type="radio" name="groupName" id="radio1" /> Radio 1
  </label>
  <label>
    <input type="radio" name="groupName" id="radio2" /> Radio 2
  </label>
  <label>
    <input type="radio" name="groupName" id="radio3" /> Radio 3
  </label>
  <fieldset>
    <legend>Form legend</legend>
    <form>
      <label for="form-1">Text (required &amp; autofocus) </label>
      <input id="form-1" name="haha" type="text" autofocus="" required="">
      <label for="form-1a">Text with place holder</label>
      <input id="form-1a" name="hah" type="text" placeholder="place holder">
      <label for="form-2">Text with Datalist</label>
      <input id="form-2" list="mylist" type="text">
      <datalist id="mylist">
        <option label="Mr" value="Mr">
        </option><option label="Ms" value="Ms">
        </option><option label="Prof" value="Mad Professor">
        </option>
      </datalist>
      <label for="form-4">Number</label>
      <input id="form-4" name="age" type="number" min="18" max="25">
      <label for="form-5">Email</label>
      <input id="form-5" name="email" type="email">
      <label for="form-6">URL</label>
      <input id="form-6" name="url" type="url">
      <label for="form-7">Date</label>
      <input id="form-7" name="dob" type="date">
      <label for="form-8">Date Time</label>
      <input id="form-8" name="dt" type="datetime">
      <label for="form-9">Date Time-local</label>
      <input id="form-9" name="dtl" type="datetime-local">
      <label for="form-10">Month</label>
      <input id="form-10" name="m" type="month">
      <label for="form-11">Time</label>
      <input id="form-11" name="t" type="time">
      <label for="form-12">Week</label>
      <input id="form-12" name="w" type="week">
      <label for="form-13">Telephone</label>
      <input id="form-13" name="tel" type="tel">
    </form>
    <form oninput="x.value=parseInt(a.value)">
      <label for="a">Range</label><input type="range" id="a" value="50"> <br>= Output <output name="x" for="a">
      </output>
    </form>
    <form>
      <label for="form-15">Color</label>
      <input id="form-15" name="tel" type="color">
      <input type="submit"></input>
    </form>
  </fieldset>
<progress id="p" max="100" value="50" tabindex="0"><span>50</span>%</progress>
