.f-item-group .article__body {
  padding-top: 0;
}

#column.f-item-group,
#gutter.f-item-group,
#hang.f-item-group,
#set.f-item-group {
  .column--1x,
  .column--2x,
  .column--half,
  .hang {

    border-bottom: 1px solid #fff;
    text-align: center;
    p,
    q {
      background-color: #ffffbf;
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  .gutter--horizontal,
  .gutter--horizontal-2x,
  .gutter--vertical,
  .gutter--vertical-2x {
    background-color: #fee090;
  }
}

#set.f-item-group .column--2x {
  background-color: #ffffbf;
}

#site-header.f-item-group .site-header {
  position: static;
}

#dropcap.f-item-group .f-item-preview,
#tombstone.f-item-group .f-item-preview,
#align .f-item-preview {
  max-width: 720px;
  padding-left: 36px;
  padding-right: 36px;
}

#progress-bar.f-item-group {
  .progress {
    position: static;
  }

  .progress__bar {
    width: 25%;
    opacity: 1;
  }
}

#position.f-item-group .f-item-preview {
  background-color: #ffffbf;
  font-weight: bold;
  height: 50vh;
  position: relative;
}

#site-top.f-item-group .f-item-preview .site-top {
  display: block;
}
