<header class="article-header" data-sset="article-header">
  <div class="article-header__intro" data-sset="article-header-intro">
    <h1 itemprop="headline">Moby Dick</h1>
    <p class="dek" itemprop="description">A sailor called Ishmael narrates the obsessive quest of Ahab, captain of the Pequod, for revenge on the white whale.</p>
    <p class="byline">by <span itemprop="author">Herman Melville</span> <time class="dateline" datetime="2016-01-01T05:00:00.000Z" itemprop="datePublished">Nov 14, 1851</time></p>
  </div>
  <img src="https://images.unsplash.com/photo-1449028288989-df05d40bcbb4?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1125&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1650" data-srcset="https://images.unsplash.com/photo-1449028288989-df05d40bcbb4?crop=entropy&dpr=2&fit=crop&fm=jpg&h=1125&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1650" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" class="lazyload article-header__bg" itemprop="image">
</header>
