<footer class="credits gutter--vertical-2x">
  <h2 class="credits__heading">Credits</h2>
  <p class="credits__person">
    <span class="credits__responsibility">Words</span> <strong>Herman Melville</strong>
  </p>
  <p class="credits__person">
    <span class="credits__responsibility">Photos</span> <strong>Ruslan Shtefan, Tiago Perestrelo, Marius Fiskum</strong>
  </p>
  <p class="credits__person">
    <span class="credits__responsibility">Video</span> <strong>WatchMojo.com</strong>
  </p>
  <p class="credits__person">
    <span class="credits__responsibility">Illustrations</span> <strong>Carlos Caminha</strong>
  </p>
  <p class="credits__person">
    <span class="credits__responsibility">Design</span> <strong>Storysettings</strong>
  </p>
</footer>
